.App {
  font-family: 'Georgia', serif;
  color: #333;
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.App-header {
  background-color: #f8f9fa; /* Light gray for a subtle header background */
  padding: 20px 0;
  margin-bottom: 40px; /* Space between header and content */
}

.App-title {
  font-size: 2rem;
  color: #007bff; /* A touch of color */
}

.App-content {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  color: #333; /* Darker text for headings */
}

a {
  color: #007bff;
  text-decoration: none; /* Style links to match your color scheme */
}

a:hover {
  text-decoration: underline;
}

/* Remove the .App-logo and related animation styles if you're moving away from the React logo */

/* Additional styles for blog posts, lists, etc., can be added here */
